@use "sass:color";
@use "../../app/globals" as *;

.sectionHero {
    background: linear-gradient(to bottom, rgba(30, 42, 68, 0.88) 0%,
        rgba(30, 42, 68, 0.80) 40%,
        rgba(30, 42, 68, 0.78) 100%), url("/img/bg-masthead.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: calc(5rem + 42px);
    color: $white;

    h1 {
        font-size: 40px;
        font-weight: 500;

        @media (min-width: 768px) {
            font-size: 48px;
        }

        @media (min-width: 992px) {
            font-size: 56px;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
        color: $grey;

        // span.location {
        //     color: $darkGrey;
        // }

        @media (min-width: 768px) {
            font-size: 28px;
        }

        @media (min-width: 992px) {
            font-size: 32px;
        }
    }

    // p.content {
    //     line-height: 1.6;

    //     @media (min-width: 992px) {
    //         font-size: 18.4px;
    //     }
    // }
}

.location {
    color: $darkGrey;
}